.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100vw;
    text-align: center;
    gap: 20px;
}

.counter button{
    background-color: #f39c12;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

.counter button:hover{
    transform: scale(1.1);
}

